<div class="ContentSideSections Implementation">
    <mat-card *ngIf="!sub">
        <mat-card-title>Search GismoImputation with search criterias</mat-card-title>
        <mat-card-content>
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" ngForm #gismoImputationForm="ngForm">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <label for="detail">Detail</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="detail" [(ngModel)]="example.detail" name="detail" #detail="ngModel"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <label for="warning">Warning</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="warning" [(ngModel)]="example.warning" name="warning" #warning="ngModel"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <label for="error">Error</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="error" [(ngModel)]="example.error" name="error" #error="ngModel"/>
                </div>
            </div>
        </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="search(dt)"><mat-icon>search</mat-icon>Search</button>
        </mat-card-actions>
    </mat-card>

    <br/>
    <mat-card>
    <mat-card-content>
    <p>The list of results below is server-side paginated...</p>

    <p-dataTable #dt [value]="currentPage.content"
                 [lazy]="true"
                 [rows]="10"
                 [paginator]="currentPage.totalElements > 10"
                 [totalRecords]="currentPage.totalElements"
                 (onLazyLoad)="loadPage($event)"
                 selectionMode="single"
                 (onRowSelect)="onRowSelect($event)"
                 [rowsPerPageOptions]="[5,10,20,50,100]"
                 [responsive]="true">
        <p-header>{{header}} (count: {{currentPage.totalElements}})</p-header>
        <p-column field="id" header="Id" sortable="true">
        </p-column>
        <p-column field="taskId" header="Task Id" sortable="true">
        </p-column>
        <p-column field="userId" header="User Id" sortable="true">
        </p-column>
        <p-column field="imputdate" header="Imputdate" sortable="true">
            <ng-template let-gismoImputation="rowData" pTemplate="body">
                {{gismoImputation.imputdate | date:"yyyy-MM-dd" }}
            </ng-template>
        </p-column>
        <p-column field="imputtime" header="Imputtime" sortable="true">
        </p-column>
        <p-column field="detail" header="Detail" sortable="true">
        </p-column>
        <p-column styleClass="col-icon">
            <ng-template let-gismoImputation="rowData" pTemplate="body">
                <button type="button" pButton icon="fa-trash" (click)="showDeleteDialog(gismoImputation)" style="float:left"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="addNew()"><mat-icon>add</mat-icon>Add</button>
    </mat-card-actions>
    </mat-card>
</div>
